* {
  font-family: 'Oxygen', sans-serif;
}
select {
  border: 1px solid #EEE;
  background-color: #EEE;
}
body, html {
  margin:0;
  background-color:#c0392b;
  color:#FFF;
}
body {
  padding-top: 64px;
}
nav {
  display: flex;
  align-items: stretch;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #c0392b;
  z-index:9001;
  border-bottom: 4px solid rgba(0,0,0,0.1);
}
nav h1 {
  flex: 1;
}
h1, h2 {
  font-weight:300;
  text-align:center;
}
h3 {
  font-weight: normal;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
h1 {
  font-size:40px;
  padding: 10px;
  margin: 0;
}
a {
  color:#FFF;
  cursor: pointer;
}
a:hover {
  color:#DDD;
}
h1 a {
  color: #FFF;
}
.start {
  background-color:#FFF;
  padding:50px;
}
.loader {
  display:none;
  position: fixed;
  z-index:1000;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: #FFF;
  background-color:rgba(200, 20, 20, 0.5);
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
}
.loader.open {
  display: flex;
  opacity: 1;
}
.drop_target {
  margin: 0;
  padding:100px;
  border: 4px dashed #95a5a6;
  color:#95a5a6;
  text-align:center;
  font-size:25px;
  overflow:hidden;
  position:relative;
  background-color:#FFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.drop_target.over, .drop_target:hover {
  color:#2c3e50;
  border: 4px dashed #2c3e50;
}
.file_input {
  position:absolute;
  top:-500px;
  left:-500px;
  opacity:0;
  width:9999px;
  height:9999px;
}
.hidden {
  display:none;
}

section {
  display: flex;
  align-items: stretch;
  padding: 30px;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  flex: 1;
  margin-right: 20px;
  text-align: center;
  flex-direction: column;
}
.column:last-child {
  margin-right: 0;
}

section.options {
  background-color: #FFF;
  color: #000;
}

section.menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 30px;
}
section.menu a {
  display: block;
  flex: 1;
  padding: 20px;
  background-color: #FFF;
  color: #111;
  margin:10px;
  border-radius:4px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
}
section.menu a:hover {
  transform: scale(1.1, 1.1);
}

#info {
  padding:50px 20px;
  background-color:#c0392b;
}

#error {
  padding:50px 20px;
  background-color:#c0392b;
  text-align:center;
}

#error .button {
  margin-top:40px;
}

#errorMessage {
  max-width:800px;
  text-align:left;
  display:inline-block;
}

.results {
  max-width:1200px;
  margin:auto;
  margin:30px;
  padding:0;
  overflow-x: auto;
}

.results table {
  margin-left:auto;
  margin-right:auto;
}

li {
  margin-bottom:8px;
}

.results {
  text-align:center;
  margin-bottom:100px;
}

.data {
  background-color:#FFF;
  margin: 100px auto;
  padding:75px;
  display:inline-block;
  width:auto;
}

table {
  width:auto;
  background-color:#FFF;
  color:#000;
  border-collapse:collapse;
}

tr, td, th {
  padding:20px;
  margin:0;
}

th {
  border-bottom: 3px solid #7f8c8d;
}

td {
  border-right: 1px solid #7f8c8d;
  border-bottom: 1px solid #7f8c8d;
}

td.final {
  border-right:none;
  font-weight: bold;
}

tr:last-child td {
  border-bottom:0;
}

tr td:last-child {
  border-right:none;
}

.button, button {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  border: 0;
  padding:10px;
  margin: 10px;
  background-color:#999;
  color:#FFF;
  border:0;
  cursor:pointer;
  text-decoration:none;
  font-weight:normal;
  transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
}
.button:hover, button:hover {
  transform: scale(1.1, 1.1);
}
.button[disabled], button[disabled] {
  transform: scale(1,1);
  opacity: 0.5;
  cursor: default;
}
.button.primary, button.primary {
  background-color:#c0392b;
  font-size: 1.2em;
  padding: 15px;
}

.mappings {
  max-height: 150px;
  overflow-y: auto;
  background-color: #EEE;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  z-index: 10;
  transform: translateZ(0);
  margin-bottom:10px;
}
.mappings .markMap {
  max-width: 180px;
  margin: 0 auto;
  z-index: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.mappings .markMap:last-child {
  margin-bottom:0;
}
.mappings .markMap .info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.mappings .markMap button {
  font-size: 0.8em;
  padding: 10px;
  margin-left: 20px;
}
.addMapping {
  display: flex;
  align-items: center;
}
.addMapping > input {
  flex: 1;
}
.addMapping .mappingValue {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.mappingValue.double {
  flex: 2;
}
.addMapping button {
  margin-left: 20px;
}
.addMapping span {
  margin: 0 20px;
}

section.center {
  align-items: center;
  padding-top:0;
}

a.back {
  color: #FFF;
  background-color:rgba(255,255,255,0.2);
  transition: all ease 0.3s;
  text-decoration: none;
  padding: 10px;
  line-height: 40px;
  font-size: 20px;
  width: 30px;
  text-align: center;
}
a.back:hover {
  background-color:rgba(255,255,255,0.4);
}
.placeholder {
  width: 50px;
}

.alert {
  position: fixed;
  top:50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  flex-direction: column;
  background-color: #FFF;
  color: #000;
  z-index:9000;
}



@media all and (max-width:1400px) {
  table {
    font-size:13px;
  }
  tr, td, th {
    padding:15px;
  }
}

@media all and (max-width:1000px) {
  table {
    font-size:12px;
  }
  tr, td, th {
    padding:11px;
  }
}

@media print {    
  .no-print, .no-print * {
    display:none;
  }
  body {
    background-color: #FFF;
    color:#000;
  }
  #data {
    margin:0 auto;
  }
}
